nav {
    background-color: black;
    ul {
        color: white;    
        li {
            display: inline-block;
            a {
                text-decoration: none;
            }
        }
    }
}