* {
    box-sizing: border-box;
}

body {
    background-color: #Ebebeb;
    margin: 0;
}

/*NAVIGATOR*/

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.container-nav {
    background-color: #1F2041;
    text-align: center;
    margin: auto;
    position: sticky;
    z-index: 2;
    justify-content: space-around;
}

.logo:hover {
    background-color: #19647E;
    transition: all 0.5s ease;
}

.navbar {
    background-color: #1F2041;
}

nav {
    margin-bottom: 0;
}

.navbar-light .navbar-toggler {
    background-color: #Ebebeb;
}

nav ul {
    list-style-type: none;
    width: 100%;
    padding: 0.5%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.nav-item {
    padding: 1%;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    color: #Ebebeb;
    font-size: 1rem;
    animation-name: fadeIn;
    animation-duration: 1s;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #FFC857;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: none;
    transition: all 0.5s ease;
    color: #Ebebeb;
}

.navbar-light .navbar-nav .nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.nav-selection {
    background-color: #FFC857;
}

#selection {
    color: #1F2041;
}

 /*TITLE*/

.container-main {
    background-image: linear-gradient(#1F2041, #4b3f72); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2%;
}

.container-main img {
    width: 15%;
    border-radius: 50%;
    border: 5px solid #Ebebeb;
    margin: auto;
}

h1.name {
    color: #Ebebeb;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
}

h3.profession {
    color: #Ebebeb;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/*INFO*/
p.text-photo {
    color: #Ebebeb;
    font-size: 1rem;
    font-weight: 300;
    margin: 2rem 15rem;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/*GENERAL TEXT*/
p {
    color: #1F2041;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.container-text {
    background-color: #19647E;
    padding: 2%;
}

.container-text p {
    font-family: 'Montserrat', sans-serif;
    color: #Ebebeb;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/*BUTTON +INFO*/
.button-about {
    font-family:'Oswald', sans-serif;
    background-color: #FFC857;
    border-radius: 25px;
    color: #1F2041;
    padding: 0.5em 1.2em;
    transition: all 1s ease;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.button-about:hover {
    text-decoration: none;
    background-color: #19647E;
    color: #Ebebeb;
}

/*MAIN CONTENT*/
.container-details {
    margin: auto;
    background-color: #4b3f72;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 1%;
}

.container-job {
    background-color: #Ebebeb;
    width: 30%;
    padding: 2%;
    border: 3px solid #1F2041;
}

h2 {
    color: #Ebebeb;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.main-title {
    background-color: #4b3f72;
    color: #Ebebeb;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    padding: 0;
}

.main-title h2 {
    padding: 1%;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    color: #Ebebeb;
}

h4 {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
}

/*WHAT I DO*/
.container-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.container-work .box {
    position: relative;
    width: 280px;
    height: 264px;
    background: #1F2041;
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid #1F2041;
    margin: 1%;
    z-index: 1;
}

.container-work .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
}

.container-work .box:hover .icon {
    top: 20px;
    left: calc(50% - 25px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.container-work .box .icon img {
    position: absolute;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #Ebebeb;
}

.container-work .box:hover .icon img {
    font-size: 30px;
    width: 60%;
}

.container-work .box .content {
    position: absolute;
    top: 100%;
    height: cal(100% - 50px);
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container-work .box:hover .content {
    top: 100px;
    opacity: 1;
}

.container-work .box .content h3 {
    margin: 0 0 0.5rem;
    padding: 0;
    color: #1F2041;
    font-size: 1.2rem;
    text-align: center;
}

.container-work .box .content p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #1F2041;
    font-size: 1rem;
}

.container-work .box:nth-child(1) .icon {
    background: #1F2041;
}

.container-work .box:nth-child(1) {
    background: #Ebebeb;
}

.container-work .box:nth-child(2) .icon {
    background: #4b3f72;
}

.container-work .box:nth-child(2) {
    background: #Ebebeb;
}

.container-work .box:nth-child(3) .icon {
    background: #19647E;
}

.container-work .box:nth-child(3) {
    background: #Ebebeb;
}

/*TITLE SECTIONS*/
.container-sections {
    padding: 0 0 1rem 1rem;
    width: 100%;
    background-image: linear-gradient(#1F2041, #4b3f72); 
    color: #Ebebeb;
    font-family: 'Oswald', sans-serif; 
    overflow: auto;
}

.title-text {
    background-color: #19647E;
    color: #Ebebeb;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    padding: 1%;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/*CONTACT BUTTON*/
.container-button-contact {
    background-image: linear-gradient(#4b3f72, #1F2041);
    margin: auto;
    font-family:'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}
.button-contact {
    font-family:'Oswald', sans-serif;
    background-color: #FFC857;
    border-radius: 25px;
    color: #1F2041;
    transition: all 1s ease;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 2s;
    padding: 1%;
    margin: 1%; 
}

.button-contact:hover {
    text-decoration: none;
    background-color: #19647E;
    color: #Ebebeb;
}

/*COURSES AND CERTIFICATIONS*/
/*EDUCATION*/
.container-education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.container-education-degree {
    margin: 1%;
    padding: 1rem;
    background-image: linear-gradient(#4b3f72, #1F2041);
    
}

.container-education-degree div {
    display: flex;
    background-color: #Ebebeb;
    padding: 0.5rem;
    
}

.container-education-degree p {
    padding: 1%;
    margin-bottom: 0;
    background-color: #Ebebeb;
    
}

#degree-title {
    width: 75%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.container-education-degree div a:hover {
    opacity: .7;
}

#degree-title h3 {
    color: #1F2041;
    font-size: 1.5rem;
    animation-name: fadeIn;
    animation-duration: 2s;
}

h5 {
    font-size: 1rem;
    padding: 0.5%;
    animation-name: fadeIn;
    animation-duration: 2s;
    font-family: 'Montserrat', sans-serif;
}

.container-education-degree img {
    width: 5rem;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/*COURSES AND CERTIFICATIONS*/
.container-courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.container-course-degree {
    margin: 1%;
    padding: 1rem;
    background-image: linear-gradient(#1F2041, #19647E); 
}

.container-course-degree div {
    display: flex;
    background-color: #Ebebeb;
    padding: 0.5rem;
}

.container-course-degree p {
    padding: 1%;
    margin-bottom: 0;
    background-color: #Ebebeb;
}

#course-title {
    width: 75%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.container-course-degree div a:hover {
    opacity: .7;
}

#course-title h3 {
    color: #1F2041;
    font-size: 1.5rem;
    animation-name: fadeIn;
    animation-duration: 2s;
}

#container-courses h2 {
    animation-name: fadeIn;
    animation-duration: 2s;
}

#container-courses h5 {
    animation-name: fadeIn;
    animation-duration: 2s;
    font-family: 'Montserrat', sans-serif;
}

.container-course-degree img {
    width: 5rem;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/*SKILLS AND LANGUAGES*/
div ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}
/*SKILLS AND LANGUAGES: SKILLS*/
.container-skills {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.skill-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #1F2041;
    margin-top: 3%;
    animation-name: fadeIn;
    animation-duration: 2s;
}

#skill { 
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    width: 75%;
    margin: auto;
    position: relative;
    line-height: 2em;
}
  
  .progress { 
    background:#Ebebeb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
    background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
    height:20px; 
    border-radius:10px; 
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;  
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
  }

  .bar { 
    height:18px; 
    margin:1px 2px;  
    position:absolute;
    border-radius:10px;
    -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;  
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;   
  }
  
.bar-1 {
    width:80%; 
    -moz-animation:graphic-design 2s ease-out;
    -webkit-animation:graphic-design 2s ease-out;
    background-color: #1F2041;
}
  
.bar-2 {
    width:75%;
    -moz-animation:html-css 2s ease-out;
    -webkit-animation:html-css 2s ease-out;
    background-color: #FFC857;
}
  
.bar-3 {
    width:60%;
    -moz-animation:jquery 2s ease-out;
    -webkit-animation:jquery 2s ease-out;
    background-color: #4b3f72;
}
  
.bar-4 {
    width:90%;
    -moz-animation:wordpress 2s ease-out;
    -webkit-animation:wordpress 2s ease-out;
    background-color: #19647E;  
}
  
  @-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:80%;}  }
  @-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:75%;}  }
  @-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:60%;}  }
  @-moz-keyframes wordpress   { 0%  { width:0px;} 100%{ width:90%;}  }
  
  @-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:80%;}  }
  @-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:75%;}  }
  @-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:60%;}  }
  @-webkit-keyframes wordpress   { 0%  { width:0px;} 100%{ width:90%;}  }

  /*SKILLS AND LANGUAGES: LANGUAGES*/
.languages {
    background-color: #4b3f72;
    display: grid;
}

.languages h2 {
    color: #Ebebeb;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    padding-top: 1%;
    padding-bottom: 1%;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.container-languages {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin: 2%;
}

.container-languages .row {
    grid-gap: 0.5rem;
}

.level { 
    grid-area: 2 / 1 / 3 / 3; 
}

.language-class {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    border: 0.3rem solid #1F2041;
    background-color: #Ebebeb;
    align-items: center;
    color: #Ebebeb;
    padding: 0.5%;
    animation-name: fadeIn;
    animation-duration: 2s;
    margin: auto;
}

.language-class img {
    width: 75%;
    padding: 1%;
    margin-left: 10%;
}

#lang-logo {
    grid-area: 1 / 1 / 2 / 2;
}

.language-class h4 {
    text-align: center;
    font-size: 1.3rem;
    color: #1F2041;
    margin-bottom: 0;
    grid-area: 1 / 2 / 2 / 3;
}

.language-class p {
    color: #4b3f72;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

/*SKILLS AND LANGUAGES: ABILITIES*/
.abilities {
    display: grid;
    background-color: #4b3f72;
}

.container-abilities {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin: 2%;
}

.container-abilities .row {
    grid-gap: 0.5rem;
}

.ability-class {
    border: 0.3rem solid #19647E;
    padding: 1%;
    background-color: #Ebebeb;
    animation-name: fadeIn;
    animation-duration: 2s;
    margin: auto;
}

/*PROJECTS*/
.container-project {
    margin: 1rem 15rem;
}

/*FORM - CONTACT*/
form {
    padding: 0.5em 1.2em; 
}

.container-email {
    background-image: linear-gradient(#4b3f72, #1F2041);
    margin: auto;
    text-align: center;
    padding: 1%;
}

.container-email p {
    color: #Ebebeb;
}

.container-email a img {
    width: 4rem;
    border-radius: 50%;
}

.container-email a img:hover {
    background-color: #FFC857;
}

/*FOOTER*/
.container-footer {
    padding: 0.5em 0 0.5em 0;
    background-color: #1F2041;
    color: #Ebebeb;
    text-align: center;
    margin: auto;
}

.copyright {
    color: #Ebebeb;
}

footer div a img:hover {
    opacity: .8;
}

/*ANIMATIONS*/
@keyframes fadeIn {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

/*MEDIA QUERIES*/

    /*****XLARGE - min-width:1200px*****/

    /*****LARGE - between 992px and 1199 px*****/
@media (min-width: 992px) and (max-width: 1199px) {
        .container-main img {
            width: 20%;
        }

        /***SKILLS***/
        .skill-title {
            font-size: 1.3rem;
        }
    
        /***LANGUAGES***/
        .language-class h4 {
            font-size:1.2rem;
        }
    
        .language-class p {
            font-size: 0.9rem;
        }
}
    /*****MEDIUM - between 768px and 991px*****/
@media (min-width: 768px) and (max-width: 991px) {
        
        .container-main img {
            width: 20%;
        }

        p.text-photo {
            margin: 1rem 7rem;
        }

        .title-text {
            font-size: 1.8rem;
        }

        /***INDEX***/
        .container-work .box .icon {
            top: 20px;
            left: calc(50% - 25px);
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        
        .container-work .box .icon img {
            font-size: 30px;
            width: 60%;
        }
        
        .container-work .box .content {
            top: 100px;
            opacity: 1;
        }

        /***EDUCATION***/
        #degree-title h3 {
            font-size: 1.2rem;
        }

        h5 {
            font-size: 1rem;
        }

        .container-education-degree p {
            font-size: 0.9rem;
        }

        /***COURSES***/
        #course-title h3 {
            font-size: 1.2rem;
        }

        h5 {
            font-size: 1rem;
        }

        .container-course-degree p {
            font-size: 0.9rem;
        }

        /***SKILLS***/
        .skill-title {
            font-size: 1.3rem;
        }
    
        /***LANGUAGES***/
        .language-class h4 {
            font-size: 1.6rem;
        }

        .language-class p {
            font-size: 1.2rem;
        }
        

}
    /*****SMALL - between 576px and 767px*****/
@media (max-width: 767px) {

        /***MAIN***/
        .container-main img {
            width: 25%;
        }

        h1.name {
            text-align: center;
            margin-left: 0;
        }

        h3.profession {
            text-align: center;
            margin-left: 0;
        }
        
        p.text-photo {
            margin: 2rem 3.5rem;
            font-weight: 300;
        }

        .title-text {
            font-size: 1.5rem;
        }

        /***INDEX***/
        .container-work .box .icon {
            top: 20px;
            left: calc(50% - 25px);
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
                    
        .container-work .box .icon img {
            font-size: 30px;
            width: 60%;
        }
                    
        .container-work .box .content {
            top: 100px;
            opacity: 1;
        }

        /***ABOUT***/
        div.container-details {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            padding-top: 1%;
        }

        div.container-job {
            width: 75%;
            margin: 1%;
        }

        /***EDUCATION***/
        #degree-title h3 {
            font-size: 1rem;
        }

        h5 {
            font-size: 0.9rem;
        }

        .container-education-degree p {
            font-size: 0.8rem;
        }

        .container-education-degree img {
            width: 4rem;
            animation-name: fadeIn;
            animation-duration: 2s;
        }

        /***COURSES***/
        #course-title h3 {
            font-size: 1rem;
        }

        h5 {
            font-size: 0.9rem;
        }

        .container-course-degree p {
            font-size: 0.8rem;
        }

        .container-course-degree img {
            width: 4rem;
            animation-name: fadeIn;
            animation-duration: 2s;
        }

        /***SKILLS***/
        .skill-title {
            font-size: 1.3rem;
        }
    
        /***LANGUAGES***/
        .language-class h4 {
            font-size: 1.6rem;
        }
        
}
/****SMALL for Courses and Education****/

@media (max-width: 631px) {
    #degree-title h3 {
        font-size: 0.9rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    #course-title h3 {
        font-size: 0.9rem;
    }
}

    /*****XSMALL - less than 576px*****/
    @media (max-width: 576px) {
        
        /***PHOTO***/
        .container-main img {
            width: 30%;
        }

        /***INDEX***/
        h1.name {
            font-size: 1.5rem;

        }
        
        h3.profession {
            font-size: 1.2rem;
        }

        p.text-photo {
            font-size: 1rem;
            font-weight: 200;
        }

        .container-work .box .icon {
            top: 20px;
            left: calc(50% - 25px);
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .container-work .box .icon img {
            font-size: 30px;
            width: 60%;
        }

        .container-work .box .content {
            top: 100px;
            opacity: 1;
        }

        /***EDUCATION***/
        #degree-title h3 {
            font-size: 0.8rem;
        }
    
        h5 {
            font-size: 0.7rem;
        }

        .container-education-degree p {
            font-size: 0.6rem;
            padding: 2%;
            
        }

        .title-text {
            font-size: 1.5rem;
        }

        /***COURSES***/
        #course-title h3 {
            font-size: 0.8rem;
        }

        .container-course-degree p {
            font-size: 0.6rem;
            padding: 2%;
            
        }

        /***SKILLS***/
        .skill-title {
            font-size: 1rem;
        }
        
        /***LANGUAGES***/
        .language-class h4 {
            font-size: 2rem;
        }
        
        .language-class p {
            font-size: 1.5rem;
        }
    }